h1 {
    font-family: Helvetica, Sans-Serif;
    color: white;
    margin: 100px 0px 20px 0px;
    font-size: 300%;
    text-align: center;
}

h2 {
    font-family: Helvetica, Sans-Serif;
    color: white;
    margin-top: 0px;
    font-size: 100%;
    text-align: center;
}

h3 {
    font-family: Helvetica, Sans-Serif;
    color: white;
    margin-top: 0px;
    font-size: 135%;
    text-align: center;
}

h4 {
    font-family: Helvetica, Sans-Serif;
    color: white;
    text-align: center;
    font-size: 150%;
}

p {
    font-family: Helvetica, Sans-Serif;
    color: white;
    margin-top: 10px;
    font-size: 75%;
    text-align: center;
}

body {
    background-color: #496bf2;
}

.searchbar {
    display:flex;
    margin-left: 400px;
    margin-right: 400px;
    padding: 10px 10px;
    background-color: white;
    text-align: center;
    border-radius: 18.5px;
}

.textInput {
    width: 400px;
    text-align: center;
    border: none;
    
}

.textInput:focus {
    outline: none;
}

button {
    background: #999;
    padding: 5px 30px;
    text-align: center;
    border: none;
    border-radius: 18.5px;

}

img {
    width: 100px;
}

.container {
    width: 100%;
  
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
  }

.CountryCard {
    width: 250px;
    height: 180px;
    display:flex;
    flex-direction: column;
    position: relative;
    border-radius: 35px;
    overflow: hidden;
    border: none;
}

.searchbarContainer {
    

    
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: horizontal;
}

.searchbar{
    
    width:600px;
    background-color: white;
    display:flex;
}

.searchbar input {
    background:transparent;
    flex: 1;
    border: 0;
    outline: none;
    text-align: center;

}

.countryCard-flag {
    justify-content: center;
    display:flex;
}

.main {
    align-items: center;
    justify-content: center;
}

.nameDisplay {
    font-family: Helvetica, Sans-Serif;
    color: white;
    font-size: 45%;
}